body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #212121;
}
.cursor: pointer;
/*hover and focus, кнопок і ссилок*/
.navigation-link,
.link,
.mail,
.tel {
  color: #212121;
  font-size: 14;
}
.navigation-link:hover,
.link:hover,
.mail:hover,
.tel:hover,
.navigation-link:focus,
.link:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}
.work-list-button,
.order-a-service {
  background: #f5f4fa;
}
.work-list-button:focus,
.order-a-service:focus,
.work-list-button:hover,
.order-a-service:hover {
  color: #ffffff;
  background: #2196f3;
}

/*шапка*/
.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 31;
  color: #2196f3;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16;
  color: #212121;
}
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16;
  color: #757575;
}
/*переваги*/

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16;
  color: #212121;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42;
  color: #212121;
}
/* Наша команда*/
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19;
  color: #212121;
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 19;
  color: #757575;
}
/* Портфоліо*/
.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26;
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: 36;
  color: #212121;
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 30;
  color: #757575;
}
