body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --foooter-color: #2f303a;
  --background-color: #e5e5e5;
  --title-text-color: #212121;
  --p-color: #757575;
}

.link,
.mail,
.tel {
  text-decoration: none;
}

.link-logo {
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
}

.order-a-service,
.work-list-button {
  cursor: pointer;
}

/*hover and focus, кнопок і ссилок*/

.navigation-link:hover,
.mail:hover,
.tel:hover,
.contact-link:hover,
.navigation-link:focus,
.mail:focus,
.tel:focus,
.contact-link:focus {
  color: #2196f3;
}

.work-list-button,
.order-a-service {
  background: #f5f4fa;
}
.work-list-button:focus,
.order-a-service:focus,
.work-list-button:hover,
.order-a-service:hover {
  color: #ffffff;
  background: #2196f3;
}

/*шапка*/

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: (31/26);
  color: #2196f3;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: (16/14);
  color: #212121;
}
.contact-link,
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: (16/14);
  color: var(--p-color);
}
/*переваги*/

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: (16/14);
  color: var(--title-text-color);
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: (24/14);
  color: var(--p-color);
}
.home-title {
  font-weight: bold;
  font-size: 36px;
  line-height: (42/36);
  color: #ffffff;
  background-color: #2f303a;
}
/* Наша команда*/
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: (19/16);
  color: var(--title-text-color);
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: (19/16);
  color: var(--p-color);
}
/* Портфоліо*/
.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: (26/16);
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: (36/18);
  color: var(--title-text-color);
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: (30/16);
  color: var(--p-color);
}
/*PIDVAL*/
.contact {
  font-style: normal;
}
