:root {
  --foooter-color: #2f303a;
  --background-color: #e5e5e5;
  --title-text-color: #212121;
  --p-color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.03em;
  background: #e5e5e5;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

li {
  list-style-type: none;
}
img {
  display: block;
}

.link,
.mail,
.tel {
  text-decoration: none;
}

.link-logo {
  font-family: "Raleway", sans-serif;
}
.logo-header {
  color: #212121;
}
.logo-footer {
  color: #ffffff;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
}
.link-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
/*.navigation-page {
  display: flex;
  align-items: center;
}
.mail-tel {
  display: flex;
  justify-content: flex-end;
}

/*hover and focus, кнопок і ссилок*/

.link:hover,
.mail:hover,
.tel:hover,
.link:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}

button:focus,
button:hover {
  color: #ffffff;
  background: #2196f3;
}

.order-a-service {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-galery {
  display: flex;
  justify-content: space-around;
}
.work-list {
  display: flex;
  justify-content: center;
}
.work-list-button {
  background: #f5f4fa;
  border-radius: 4px;
}
.work-list-li {
  margin-right: 8px;
}
.work-list-li:last-child {
  margin-right: 0;
}
.order-a-service,
.work-list-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
/*шапка*/

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-page {
  display: flex;
  margin-left: 93px;
}
.navigation-item {
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
  margin-left: 93px;
}
.mail-tel {
  display: flex;
  margin-left: auto;
}
.mail-tel .navigation-item + .navigation-item {
  margin-left: 50px;
}
.contact-link,
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--p-color);
}

/*HERO*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*переваги*/
.advantages {
  margin-top: 94px;
  margin-bottom: 94px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--p-color);
}
.home-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
}

.our-work {
  margin-top: 94px;
  margin-bottom: 94px;
}
/* Наша команда*/
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
}
/* Портфоліо*/
.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
}
/*PIDVAL*/
.contact {
  font-style: normal;
}
footer {
  background-color: var(--foooter-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
