body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #212121;
}

.link,
.mail,
.tel {
  text-decoration: none;
}
.work-list-button {
  cursor: pointer;
}

/*hover and focus, кнопок і ссилок*/
.navigation-link,
.mail,
.tel {
  color: #212121;
  font-size: 14;
}
.navigation-link:hover,
.mail:hover,
.tel:hover,
.contact-link:hover,
.navigation-link:focus,
.mail:focus,
.tel:focus,
.contact-link:focus {
  color: #2196f3;
}
.work-list-button,
.order-a-service {
  background: #f5f4fa;
}
.work-list-button:focus,
.order-a-service:focus,
.work-list-button:hover,
.order-a-service:hover {
  color: #ffffff;
  background: #2196f3;
}

/*шапка*/

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: (31/26);
  color: #2196f3;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: (16/14);
  color: #212121;
}
.navigation-mail,
.navigation-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: (16/14);
  color: #757575;
}
/*переваги*/

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: (16/14);
  color: #212121;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: (24/14);
  color: #757575;
}
.home-title {
  font-weight: bold;
  font-size: 36px;
  line-height: (42/36);
  color: #212121;
}
/* Наша команда*/
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: (19/16);
  color: #212121;
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: (19/16);
  color: #757575;
}
/* Портфоліо*/
.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: (26/16);
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: (36/18);
  color: #212121;
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: (30/16);
  color: #757575;
}
/*PIDVAL*/
a.contact-link,
a.contact-mail,
a.contact-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: (24/14);
}
