:root {
  --foooter-color: #2f303a;
  --background-color: #e5e5e5;
  --title-text-color: #212121;
  --p-color: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.03em;
  background: #e5e5e5;
}

li {
  list-style-type: none;
}

.link,
.mail,
.tel {
  text-decoration: none;
}

.link-logo {
  font-family: "Raleway", sans-serif;
}
.logo-header {
  color: #212121;
}
.logo-footer {
  color: #ffffff;
}
/*hover and focus, кнопок і ссилок*/

.link:hover,
.mail:hover,
.tel:hover,
.link:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}

button:focus,
button:hover {
  color: #ffffff;
  background: #2196f3;
}

.order-a-service {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
}
.work-list-button {
  background: #f5f4fa;
}
.order-a-service,
.work-list-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
/*шапка*/

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
}
.contact-link,
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--p-color);
}

/*HERO*/

.hero {
  background-color: #2f303a;
}
/*переваги*/

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--p-color);
}
.home-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: #ffffff;
}
/* Наша команда*/
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
}
/* Портфоліо*/
.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
}
/*PIDVAL*/
.contact {
  font-style: normal;
}
footer {
  background-color: var(--foooter-color);
}
