body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #212121;
}
/*hover and focus, кнопок і ссилок*/
.link,
.mail,
.tel {
  color: #212121;
  font-size: 14;
}
.link:hover,
.mail:hover,
.tel:hover,
.link:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}
.work-list-button,
.order-a-service {
  background: #f5f4fa;
}
.work-list-button:focus,
.order-a-service:focus,
.work-list-button:hover,
.order-a-service:hover {
  color: #ffffff;
  background: #2196f3;
}

/*головна*/

/*переваги*/
